# Ignore virtualenv files
venv/

# Ignore temporary files
*.pyc

# Ignore personal settings files
.idea/

# Ignore database files
db.sqlite3

# Ignore media files
media/

.env

htmlcov

.coverage
*.md
__pycache__